.manybox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.fullbox {
  display: flex;
  flex-direction: column;
}

.fullbox {
  width: 300px;
  height: 400px;
}

.mycard {
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.mycard .imgdiv {
  width: 100%;
  height: 100%;
}

.mycard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mycard-body {
  background-color: black;
  padding: 20px;
  color: white;
  margin: 10px;
  border-radius: 10px;
  position: absolute;
  width: 80%;
  animation: slide-down1 0.3s both;
}

.fullbox:hover .mycard-body {
  bottom: -55px;
  animation: slide-top1 0.3s both;
}

.mycard .mycard-body:hover {
  bottom: 0px;
  width: 80%;
  animation: slide-top2 0.3s both;
}

@keyframes slide-top1 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: -55px;
  }
}

@keyframes slide-top2 {
  0% {
    bottom: -55px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes slide-down1 {
  0% {
    bottom: -55px;
  }
  100% {
    bottom: -100px;
  }
}

@keyframes slide-down2 {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -55px;
  }
}

.deflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mycard-text .add {
  font-size: 1rem;
  font-weight: 800;
}

.mycard-text .sizes {
  padding-left: 40px;
  padding-right: 40px;
}

.mycard-text .sizes span {
  font-size: 0.7rem;
  font-weight: 800;
}

.mycard-text .sizes span:hover {
  cursor: pointer;
  background-color: #000000;
}

.pr {
  position: relative;
}

.colors {
  position: absolute;
  width: 100%;
  display: none;
  border: 1px solid #ccc;
  background-color: #fff;
}

.fullbox:hover .colors {
  display: block;
  bottom: 0px;
}

.price p {
  font-size: 0.8rem;
  font-weight: 800;
  margin: 3px;
}
.price .name {
  font-size: 1.4rem;
  font-weight: 800;
}

.price .cat {
  font-size: 0.8rem;
  font-weight: 500;
  color: #050505;
}

.price .pri {
  font-size: 0.8rem;
  font-weight: 500;
  color: #050505;
}

.price .pri span {
  font-size: 1.2rem;
  font-weight: 800;
  color: #050505;
}

.pr .colors img {
  width: 40px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-right: 10px;
}

.pr .colors .deflex {
  justify-content: center;
}
